.title{
	border: 5px solid skyblue;
	border-radius: 8px;
	background-color: skyblue;
	color: white;
	margin: auto;
	width: 60%;
	text-align: center;
	padding: 10px;
}



.submit{
	border: 2px solid skyblue;
	border-radius: 8px;
	text-align: center;
	margin: auto;
	width: 64%;
	padding: 10px;
	background-color: skyblue;
	color: white;
} 

.field{
	text-align: center;
	margin: auto;
	width: 64%;
	border-radius: 8px;
	border: 2px solid skyblue;
	padding: 10px;
	height: 100px;
	
}

.input{
	margin: auto;
	border: 1px solid skyblue;
	width: 64%;
	padding: 10px;
	text-align: center;
	color: black;
	border-radius: 8px;
}

.del{
	background-color: skyblue;
	position: inherit;
	border: 1px solid white;
	border-radius: 8px;
}
